extends layout

block content
  h1 AI or Human Game
  #game-container
    p#question
    button#human-btn Human
    button#ai-btn AI
  p#score Your score: 
    span#score-value 0
  
  script(src='/javascripts/game.js')
