extends layout

block content
  h1= title
  p Welcome to #{title}
  if user
    p Hello, #{user.name}!
    a(href='/game') Play Game
    br
    a(href='/auth/logout') Logout
  else
    a(href='/auth/google') Login with Google
    br
    a(href='/auth/github') Login with GitHub
