doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav
      if user
        a(href='/') Home
        a(href='/game') Game
        a(href='/auth/logout') Logout
      else
        a(href='/') Home
        a(href='/auth/google') Login with Google
        a(href='/auth/github') Login with GitHub
    block content
