@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

:root {
  --color-background: #121212;
  --color-text: #e0e0e0;
  --color-button: #2c2c2c;
  --color-button-text: #ffffff;
  --color-result-correct: #4caf50;
  --color-result-incorrect: #f44336;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--color-background);
  color: var(--color-text);
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  line-height: 1.6;
}

nav {
  margin-bottom: 20px;
  text-align: center;
}

<!-- HTML !-->
<button class=#loginBtn1" role="button">Button 24</button>

/* CSS */
#loginBtn1 {
  background: #FF4742;
  border: 1px solid #FF4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

#loginBtn1:hover,
#loginBtn1:active {
  background-color: initial;
  background-position: 0 0;
  color: #FF4742;
}

#loginBtn1:active {
  opacity: .5;
}

nav a {
  margin-right: 10px;
  color: var(--color-text);
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 3.6rem;
  font-weight: 700;
  text-align: center;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
  text-align: left;
  margin-bottom: 10px;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.button, button {
  background-color: var(--color-button);
  color: var(--color-button-text);
  border: none;
  font-weight: bold;
  width: 100px;
  height: 100px;
  font-size: 16px;
  border-radius: 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover, .button:focus,
button:hover, button:focus {
  background-color: #3c3c3c;
}

.button[disabled], button[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

#question, #prompt, #answer {
  font-size: 18px;
  margin-bottom: 20px;
  text-align: left;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 15px;
  border-radius: 10px;
}

#result {
  font-size: 2.4rem;
  font-weight: bold;
  margin-top: 2rem;
  text-align: center;
}

#stats {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
}

#stats p {
  font-size: 1.8rem;
  font-weight: bold;
}

a {
  color: #64b5f6;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#game-container {
  text-align: left;
}
